{% extends 'fitlog/base.html' %}
{% load static %}

{% block content %}
  <h2>Daily Workout Summary</h2>

  {% for day in daily_totals %}
    <div class="card mb-3">
      <div class="card-header">
        <h5>{{ day.date|date:"F j, Y" }}</h5>
      </div>
      <div class="card-body">
        <p>Burned Calories: {{ day.calories|floatformat:0 }} kcal</p>
      </div>
    </div>
  {% endfor %}

  <!-- Pagination -->
  <div class="pagination">
    <span class="step-links">
      {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
      {% endif %}

      <span class="current">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
      </span>

      {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
      {% endif %}
    </span>
  </div>
<br>
<a href="{% url 'log-page' %}" class="btn btn-dark mb-3">Back to Detailed Log</a>
{% endblock %}