{% extends 'fitlog/base.html' %}

{% block content %}
  <h2>Daily Exercise Log</h2>
  <p>Total Calories: {{ total_calories }} kcal</p>
  <h3>Exercise List</h3>
  <ul>
{% for item in exercised %}
  <li>{{ item.time }} minute of {{ item.workout.name }} = {{ item.calories }} calories</li>
{% endfor %}
  </ul>
<br>
<div class="text-center"><a href="{% url 'workout-tracker' %}" class="btn btn-primary btn-md my-4 primary-font" role="button">Add More</a></div>
<br>
<a href="{% url 'daily-summary' %}" class="btn btn-primary mb-3">View Weekly Summary</a>
{% endblock %}