{% extends 'fitlog/base.html' %}

{% block content %}
  <h2>Workout Tracker</h2>
  <form method="post" action="{% url 'submit-exercised' %}">
    {% csrf_token %}
    <div>
      <label for="workout">Workout:</label>
      <select id="workout" name="workout" required>
        <option value="">Select a workout</option>
      </select>
    </div>
    <div>
      <label for="time">Time (minute):</label>
      <input type="number" id="time" name="time" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
<br>
<div class="text-center"><a href="{% url 'log-page' %}" class="btn btn-primary btn-md my-4 primary-font" role="button">Logs</a>

  {% block scripts %}
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        fetch("{% url 'workout-api' %}")
          .then(response => response.json())
          .then(data => {
            const select = document.getElementById('workout');
            data.forEach(workout => {
              const option = new Option(workout.name, workout.id);
              select.add(option);
            });
          });
      });
    </script>
  {% endblock %}
{% endblock %}